name: CI (against releases)

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  test_0_3_8_installing_from_github:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.8
    with:
      ref: v0.3.8

  test_0_3_8_installing_from_pypi_versioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.8
    with:
      ref: v0.3.8
      index: PyPI
      index_version: 0.3.8
      expected_index_version: 0.3.8

  test_0_3_8_installing_from_pypi_unversioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.8
    with:
      ref: v0.3.8
      index: PyPI
      expected_index_version: 0.3.8

  test_0_3_9_installing_from_github:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.9
    with:
      ref: v0.3.9

  test_0_3_9_installing_from_pypi_versioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.9
    with:
      ref: v0.3.9
      index: PyPI
      index_version: 0.3.9
      expected_index_version: 0.3.9

  test_0_3_9_installing_from_pypi_unversioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.3.9
    with:
      ref: v0.3.9
      index: PyPI
      expected_index_version: 0.3.9

  test_0_4_0_installing_from_github:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.4.0
    with:
      ref: v0.4.0

  test_0_4_0_installing_from_pypi_versioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.4.0
    with:
      ref: v0.4.0
      index: PyPI
      index_version: 0.4.0
      expected_index_version: 0.4.0

  test_0_4_0_installing_from_pypi_unversioned:
    uses: multiphenics/multiphenicsx/.github/workflows/ci.yml@v0.4.0
    with:
      ref: v0.4.0
      index: PyPI
      expected_index_version: 0.4.0

  warn:
    runs-on: ubuntu-latest
    if: github.repository == 'multiphenics/multiphenicsx' && github.ref == 'refs/heads/main' && github.event_name == 'schedule'
    steps:
      - name: Warn if scheduled workflow is about to be disabled
        uses: fem-on-colab/warn-workflow-about-to-be-disabled-action@main
        with:
          workflow-filename: ci_against_releases.yml
          days-elapsed: 55
